form {
  width: 100%;
  height: auto;
  padding: 0.9rem;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.form_group {
  position: relative;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.sub {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sub_div {
  position: relative;
  width: 50%;
  display: block;
}
.form_group label {
  padding-bottom: 4px;
}
.form_group input {
  padding-bottom: 4px;
}

.formsubmit_btn {
  background-color: #00ced1;
  text-transform: uppercase;
  color: #ffff;
  font-size: 22px;
  border: none;
}
.form_group input {
  position: relative;
  padding: 10px;
  font-size: 9px;
  font-weight: 200;
  width: 100%;
}

@media (max-width: 1000px) {
  form {
    padding: 0.1rem;
  }
  .form_group input {
    width: 98%;
  }
}
